
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;

  /* .content__description */

  &__description {
    
  }

  /* .content__title */

  &__title {
    @include fontProperties(44px, 500, 1.3, $colorDark, uppercase);
    margin-bottom: 32px;
  }

  /* .content__text */

  &__text {
    @include fontProperties(16px, 400, 1.5, $colorDark, uppercase);
  }

  /* .content__button */

  &__button {
    @include fontProperties(16px, 400, 1.3, $colorDark, uppercase);
  }
}