.header {
  

		/* .header__container */

		&__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
		}

		/* .header__logo */

		&__logo {
		}

		/* .header__button */

		&__button {
		}
}
