// ================container================

body {
  @include font( 16px, 1.5, $colorDark, $fontName, 400 );
  min-width: 320px;
}

header,
main,
footer {
  margin: 18px 0 0 0;
}

a {
  color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100%;
}

main {
  flex: 1 1 auto;
}

// .logo {

// }

.container {
  width: 1190px;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .container {
    padding: 0 10px;
  }
}