// ============ fonts ===============

// @mixin font-face($fontName, $file-path, $weight: normal, $style: normal) {
//     font-family: $fontName;
//     src: local($fontName),
//         url('../fonts/#{$file-path}.woff2') format('woff2'), 
//         url('../fonts/#{$file-path}.woff') format('woff');
//     font-weight: $weight;
//     font-style: $style;
// }

@mixin font( $fontSize, $lineHeght, $textColor, $fontName, $weight ) {
    font-family: $fontName;
    font-weight: $weight;
    font-size: $fontSize;
    line-height: $lineHeght;
    color: $textColor;
}

@mixin fontProperties($fontSize, $weight, $lineHeght, $textColor, $textTransform) {
    font-size: $fontSize;
    font-weight: $weight;
    line-height: $lineHeght;
    color: $textColor;
    text-transform: $textTransform;
}

@mixin arrowSlider() {
    width: 42px;
    height: 42px;
    background-color: $darkYellow;
    border-radius: 50%;
    background-image: url(../../../../img/svg/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    transition-property: background-color, background-size;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    &:hover {
        background-color: $lightYellow;
        background-size: 13px;
    }
    &:active {
        background-color: $darkYellow;
        background-size: 11px;
    }
}