// ============ fonts ===============

// @mixin font-face($fontName, $file-path, $weight: normal, $style: normal) {
//     font-family: $fontName;
//     src: local($fontName),
//         url('../fonts/#{$file-path}.woff2') format('woff2'), 
//         url('../fonts/#{$file-path}.woff') format('woff');
//     font-weight: $weight;
//     font-style: $style;
// }

@mixin font( $fontSize, $lineHeght, $textColor, $fontName, $weight ) {
    font-family: $fontName;
    font-weight: $weight;
    font-size: $fontSize;
    line-height: $lineHeght;
    color: $textColor;
}