
// ========================================
// =========== text color =================
// ========================================



// ========================================
// =========== / text color ===============
// ========================================




// ========================================
// ================ color =================
// ========================================

$darkYellow: #FFC700;
$colorDark: #232020;
$lightGreyLighten: #F8F8F8;
$lightGreyDarken: #E4E4E4;
$grey: #898989;
$wight: #FFFFFF;

// ========================================
// ================ / color ===============
// ========================================



// ========================================
// ================ fonts =================
// ========================================

$fontName: 'Inter';

// ========================================
// ================ / fonts ===============
// ========================================