
// ========================================
// =========== text color =================
// ========================================



// ========================================
// =========== / text color ===============
// ========================================




// ========================================
// ================ color =================
// ========================================

$darkYellow: #FFC700;
$lightYellow: #FFD952;
$colorDark: #232020;
$lightGreyLighten: #F8F8F8;
$lightGreyDarken: #E4E4E4;
$grey: #898989;
$wight: #FFFFFF;
$colorDisabled: #E0E0E0;

// ========================================
// ================ / color ===============
// ========================================



// ========================================
// ================ fonts =================
// ========================================

$fontName: 'Inter';

// ========================================
// ================ / fonts ===============
// ========================================

// ========================================
// ============= dimensions ===============
// ========================================

$widthBlock: calc(50% - 10px);
$widthSlide: 590px;
$heightSlide: 530px;
$marginBlocks: 10px;

// ========================================
// ============= / dimensions =============
// ========================================