@import './components/contacts.scss';
@import './components/social.scss';
@import './components/connection.scss';

.footer {
	width: 100%;
  margin-bottom: 40px;

	/* .footer__container */

	&__container {
		padding-top: 50px;
		border-top: 2px solid $lightGreyLighten;
	}

	/* .footer__blok-elements */

	&__blok-elements {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

