
.btn {
  padding: 18px 40px;
  border-radius: 24px;
  @include font( 16px, 19px, $colorDark, $fontName, 400 );
  text-transform: uppercase;
  background-color: transparent;
  transition-property: background-color, border;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  &:hover {
    background-color: $darkYellow;
    border: 1px solid  $darkYellow;
  }
}

