@import 'components/button.scss';
@import 'components/content.scss';
@import 'components/hero/hero.scss';
@import 'components/slider.scss';
@import 'components/adventages/adventages.scss';
@import 'components/calc/calc.scss';

.hero {

  /* .hero__container */

  &__container {
    display: flex;
    max-height: 530px;
  }

  /* .hero__content */

  &__content {
    width: 50%;
    margin-right: 10px;
  }

  /* .hero__slider */

  &__slider {
    border-radius: 12px;
    width: 50%;
  }
}

@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {
  .hero__container {
    flex-direction: column;
    height: auto;
    
  }

  .hero__content {
    width: 100%;
    height: 50%;
    margin-right: 0;
    margin-bottom: 10px;

  }

  .hero__slider {
    width: 100%;
    height: 280px;
  }
}

@media (max-width: 768px) {

}
