@import 'components/hero/content.scss';
@import 'components/hero/slider.scss';

.hero {

  /* .hero__container */

  &__container {
    display: flex;
    max-height: 530px;
  }

  /* .hero__content */

  &__content {
    flex-basis: 50%;
    margin-right: 10px;
  }

  /* .hero__slider */

  &__slider {
    flex-basis: 50%;
  }
}
.slider {
}
