
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex:0 0 $widthBlock;
  height: $heightSlide;
  background-color: $lightGreyLighten;
  padding: 50px;
  border-radius: 12px;

  /* .content__description */
  &__title {
    margin-bottom: 32px;
  }

  /* .content__text */

  &__text {
    @include fontProperties(16px, 400, 1.5, $colorDark, uppercase);
    margin-bottom: 20px;
    flex: 1 1 auto;
  }

  /* .content__button */

  &__button {
    display: inline-block;
    @include fontProperties(16px, 400, 1.3, $colorDark, uppercase);
    background-color: $darkYellow;
    margin: 10px 0 0 0;
    transition-duration: 0.3s;
    transition-property: background-color;
    transition-timing-function: linear;
    &:hover {
      background-color: $lightYellow;
    }
    &:disabled {
      background-color: $grey;
      color: $colorDisabled;
    }
  }
}


@media (max-width: 768px) {
  .content {
    height: 50%;
    padding: 24px 70px 24px 24px;
    &__title {
      margin-bottom: 16px;
    }
  
    &__text {
      margin-bottom: 50px;
    }
  }

  
}

