

// .slider {
//   position: relative;
//   overflow: content;
//   padding: 0;
//   z-index: 1;
//   display: block;

// }
// .swiper-wrapper {
//   position: relative;
//   width: $widthBlock;
//   height: $widthBlock;
//   z-index: 1;
//   display: flex;
// }
// .swiper-slide {
//   width: 590px;
//   height: 530px;
//   &-image {
//     width: 100%;
//   }
// }

// .swiper-button-prev,
// .swiper-button-next {
//   // position: absolute;
//   // bottom: 50px;
//   // right: 50px;
//   // z-index: 10;
//   // width: 42px;
//   // height: 42px;
//   // background-color: $darkYellow;
//   // background-repeat: no-repeat;
//   // background-position: center;
//   // border-radius: 50%;
// }

// .swiper-button-prev {
//   // background-image: url('../../../../img/svg/arrow-prev.svg');
//   // margin-right: 50px;
// }
// .swiper-button-next {
//   // background-image: url('../../../../img/svg/arrow-next.svg');
// }

// .button__slider-prev,
// .button__slider-next {
//   position: absolute;
//   bottom: 50px;
//   right: 50px;
//   z-index: 10;
//   width: 42px;
//   height: 42px;
//   background-color: $darkYellow;
//   background-repeat: no-repeat;
//   background-position: center;
//   border-radius: 50%;
// }

// .button__slider-prev {
//   // background-image: url('../../../../img/svg/arrow-prev.svg');
//   margin-right: 50px;
// }

// .button__slider-next {
//   background-image: url('../../../../img/svg/arrow-next.svg');
// }

.slider {
  position: relative;
  overflow: content;
  padding: 0;
  z-index: 1;
  display: block;
  /* .slider__block */

  &__block {

    z-index: 1;
    display: flex;
  }

  /* .slider__item */

  &__item {
    width: $widthSlide;
    height: $heightSlide;
  }

  /* .slider__image */

  &__image {
      width: 100%;
  }

    /* .slider__button-prev,
      .slider__button-next */

    &__button-prev,
    &__button-next {
      position: absolute;
      bottom: 50px;
      right: 50px;
      z-index: 10;
      width: 42px;
      height: 42px;
      background-color: $darkYellow;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
    }

  /* .slider__button-prev */

  &__button-prev {
    background-image: url('../../../../img/svg/arrow.svg');
    margin-right: 50px;
  }

  /* .slider__button-next */

  &__button-next {
    transform: rotate(180deg);
  }
}
